<div id="m_nav_container" class="m_nav wthree_bg">
    <nav class="menu menu--sebastian">
        <ul id="m_nav_list" class="m_nav menu__list">
			<li {% if active_link == "home" %} class="m_nav_item active" {% else %} class="m_nav_item" {% endif %} id="m_nav_item_1" ><a href="{% url 'home' %}"  class="link link--kumya" ><i class="fa fa-home" aria-hidden="true"></i><span data-letters="Accueil">Accueil</span></a></li>

			<li {% if active_link == "programs" %} class="m_nav_item active" {% else %} class="m_nav_item" {% endif %} id="m_nav_item_2" ><a href="{% url 'programs' %}"  class="link link--kumya" ><i class="fa fa-cog" aria-hidden="true"></i><span data-letters="Programmes">Programmes</span></a></li>

			<li {% if active_link == "apply" %} class="m_nav_item active" {% else %} class="m_nav_item" {% endif %} id="m_nav_item_2" ><a href="{% url 'apply' %}"  class="link link--kumya" ><i class="fa fa-building-o" aria-hidden="true"></i><span data-letters="Candidature">Candidature</span></a></li>

			<li {% if active_link == "about" %} class="m_nav_item active" {% else %} class="m_nav_item" {% endif %} id="m_nav_item_2" ><a href="{% url 'about' %}"  class="link link--kumya" ><i class="fa fa-info-circle" aria-hidden="true"></i><span data-letters="À propos">À propos</span></a></li>

			<li {% if active_link == "blog" %} class="m_nav_item active" {% else %} class="m_nav_item" {% endif %} id="m_nav_item_2" ><a href="{% url 'blog' %}"  class="link link--kumya" ><i class="fa fa-building-o" aria-hidden="true"></i><span data-letters="Blog">Blog</span></a></li>

			
		</ul>
	</nav>
</div>





