{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %}{{ block.super }}Accueil{% endblock %}
{% block style %}
<style type="text/css">

</style>
{% endblock %}
{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
  <!--
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>-->
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo " >
   
      <div class="login-center" >
            <div class="container " >
              <div class="row">
                <div class="col-md-8 col-sm-12" style="border-radius: 2%; "> 
                  <div class="row" style=" height: auto;">
                    <div class="row">
                      <div ><img src="/static/site/ico/log3.png" style="width:26%"></img></div>
                      
                      <h3 style="margin-top:15px; color:rgb(36, 150, 243); font-weight:bold">Le chemin le plus FACILE pour</h3> 
                      <h3 style="margin:2% auto; ">Maitriser le developpement d'applications mobile/web,<br>  
                        des sites web, des jeux, l'analyse des données, le Machine learning<br>
                        en fonction vos besoins et de votre niveau</h3>
                    </div>
                    <!-- <div class="row" style=" position:relative;height:50px;">
                      <b style="margin:0%; position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)">
                        <span1 >
                          <h2>Apprendre à Coder</h2> <br /> 
                          <h2>Améliorer vos Compétences Techniques</h2> <br />
                          <h2>Créer un Impact Positif</h2> <br>
                        </span1>
                     </b>
                    </div> -->
                    <div class="row">
                      <div class="btn  btn-lg " style="width:30%; background-color: rgb(10, 174, 250);" onclick="location.href='/about/#contact'">Contribuer</div><span ></span>
                      <div class="btn btn-lg" style="width:30%;background-color: orange" onclick="location.href='{% url 'about' %}'">En savoir plus</div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-4 col-sm-12"  style="vertical-align:-webkit-baseline-middle">
                      <div class="login" id="card">
                        <div class="front signin_form" > <br><br>
                          <h3>Se Connecter</h3><br>
                            <form class="login-form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Type your email">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Type your password">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                    </div>
                                </div>
                               <!--  <div class="checkbox">
                                <label><input type="checkbox">Remember me next time.</label>
                                </div> -->
                                
                                <div class="form-group sign-btn">
                                    <input type="submit" class="btn" value="Log in">
                                    <h5><a href="#" class="forgot">Can't access your account?</a></h5>
                                    <h5><strong>New to Naweza?</strong><br><a href="#" id="flip-btn" class="signup signup_link">Sign up for a new account</a></h5>
                                </div>
                            </form>
                        </div>
                        <div class="back signup_form" style="opacity: 0;"> 
                            <h3>Inscription</h3><br>
                            <form class="login-form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Username">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Password">
                                    <span class="input-group-btn"><button type="button" class="btn btn-cyan"><span class="fa fa-refresh"></span></button></span>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="form-group sign-btn">
                                    <input type="submit" class="btn" value="Sign up">
                                    <br><br>
                                    <h5>Connexion <a href="#" id="unflip-btn" class="signup">Log in</a></h5>
                                </div>
                            </form>
                        </div>
                      </div>
                </div>   
              </div>
              <br>
              <div class="row">
                <div class="w3ls_banner_info " style="text-align:center;margin-top:5%">
                  <h5 style="color:#1b5a7c;">une plateforme collaborative dédiée à la formation et l'accompagnement
                    des porteurs de projets numériques,<br> des jeunes en quête de reconversions</h5>
                </div>
              </div>
            </div>
          </div>
      </div>
    <div class="clearfix"></div>
   
  
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>



<div class="container" ><br>

  <div class="row" style=" margin:10px">
    <div class="col-lg-4" style="text-align:center;">
      <img src="/static/site/ico/light-bulb.png" width="30%;"/>
      <h2 style="color:rgb(58, 146, 248); ">Imagine</h2>
      <br>
      <p style="color: black;">Une idée ? Des envies de monter en compétence?
        <h5>Rejoins-nous pour la plus excitante des aventures</h5></p>
      <br>
    </div>
    <div class="col-lg-4" style="text-align:center">
        <img src="/static/site/ico/engineer.png" width="30%;"/>
      <h2 style="color: rgb(238, 189, 56);">Construis</h2>
      <br>
      <p style="color: black;"> Apprends pour donner vie à tes idées 
      <h5>Améliore tes Compétences Techniques</h5></p>
      <br>
    </div>
    <div class="col-lg-4" style="text-align:center">
        <img src="/static/site/ico/rocket-ship-2.png" width="30%;"/>
      <h2 style="color: rgb(13, 245, 110);">Inspire</h2>
      <br>
      <p style="color: black;"> Lance-toi et inpire les autres</p>
      <br>
    </div>
  </div><br>
</div><br>

<!-- support-help-bottom -->
  <div class="support-help-bottom" style=" background-color: orange">
    <div class="col-md-6 w3ls_support_help_bottom_left">
      <div class="grid">
        <figure class="effect-moses">
          <img src="{% static 'site/img/7.jpg' %}" alt=" " class="img-responsive" />
          <figcaption>
            <h4>Notre <span>Visions</span></h4>
            <p style="color:#040505"> Faire du Numérique un createur d'opportunités et un Puissant outil de developpement <br> Contribuer à la réduction de la fracture Numérique, <br> à l'insertion sociale des Jeunes et des milieux défavorisés</p>
          </figcaption>     
        </figure>
      </div>
    </div>
    <div class="col-md-6 w3ls_support_help_bottom_right" style="text-align: center;">
      
      <h4 style="color:#626566; text-align:center">NAWEZA</h4>
      <h3>Une École du 21ème Siècle</h3><br>
      <p style="color: rgb(253, 253, 249);">Notre objectif est de fournir des formations sur mesure aux les jeunes, par une stratégie d'auto-apprentissage et de mentorat dans le domaine numérique, l'apprentissage de nouvelles technologies<!-- <br>Our aim is to provide tailor-made training for youth, self-learning strategy and monitoring in Digital Field, learning new technologies --></p>
      <div class="w3_more">
        <a href="{% url 'about' %}" class="link link--yaku">
          <i class="fa fa-book" aria-hidden="true"></i><span>e</span><span>n</span> <span>s</span><span>a</span><span>v</span><span>o</span><span>i</span><span>r</span> <span>p</span><span>l</span><span>u</span><span>s</span>
        </a>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  
<!-- //support-help-bottom -->

<div  style="background-color: #bbbbbb;">

    <div class="container-fluid" >
      <div class="w3_agile_banner_bottom_grid" >
        <p>01.</p>
        <div class="w3_agile_banner_bottom_grid_pos">
          <h4>Usine Digitale</h4>
        </div>
      </div>
      <h4 class="w3layouts_para" style="color: rgb(255, 255, 255);">Initiative sociale et solidaire, Naweza offre des formations et un accompagnement technique pour devenir développeur de site web, d'applications mobiles/web, analyste de données et de nombreuses autres métiers numériques, dans le but de trouver un emploi rapidement ou de créer son propre projet
        <!-- <br>Social and solidarity enterprise, SPYRTH.IO offers FREE training to become website, mobile Apps and web Apps developer, Integrator, Data Scientist and many other digital professions to find job quickly or to create its own business  --></h4>
      <div class="agile_banner_bottom_grids">
        <ul id="flexiselDemo1"> 
          <li>
            <div class="agile_banner_bottom_grid">
              <div class="w3layouts_banner_bottom_grid">
                <img src="{% static 'site/img/mw.png' %}" alt=" " class="img-responsive" />
                <div class="w3layouts_banner_bottom_grid_pos">
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>Mobile & Web </p>
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>en savoir plus</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="agile_banner_bottom_grid">
              <div class="w3layouts_banner_bottom_grid">
                <img src="{% static 'site/img/data.jpeg' %}" alt=" " class="img-responsive" />
                <div class="w3layouts_banner_bottom_grid_pos">
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>Data Science</p>
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>en savoir plus</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="agile_banner_bottom_grid">
              <div class="w3layouts_banner_bottom_grid">
                <img src="{% static 'site/img/3.jpg' %}" alt=" " class="img-responsive" />
                <div class="w3layouts_banner_bottom_grid_pos">
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>Fab Lab</p>
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>en savoir plus</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="agile_banner_bottom_grid">
              <div class="w3layouts_banner_bottom_grid">
                <img src="{% static 'site/img/comm.jpeg' %}" alt=" " class="img-responsive" />
                <div class="w3layouts_banner_bottom_grid_pos">
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>Community Management</p>
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>en savoir plus</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="agile_banner_bottom_grid">
              <div class="w3layouts_banner_bottom_grid">
                <img src="{% static 'site/img/1.jpg' %}" alt=" " class="img-responsive" />
                <div class="w3layouts_banner_bottom_grid_pos">
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>Incubateur</p>
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>en savoir plus</p>
                </div>
              </div>
            </div>
          </li>
          
          <li>
            <div class="agile_banner_bottom_grid">
              <div class="w3layouts_banner_bottom_grid">
                <img src="{% static 'site/img/seo1.jpg' %}" alt=" " class="img-responsive" />
                <div class="w3layouts_banner_bottom_grid_pos">
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>Integrateur/SEO</p>
                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>en savoir plus</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <br>
        <br>
      </div>
    </div>
  </div>
  
<!-- support-three_grids -->
  <div class="support_three_grids" style="background-color: orange;">
    <div class="container">
      <div class="col-md-8 agileinfo_support_three_grids_left">
        <h3 style="color: white;"> Tout commence ici</h3>
        
      </div>
      <div class="col-md-4 agileinfo_support_three_grids_right" onclick="location.href='/about/#contact'">
        <div class="wthree_subscribe">
          <a href="/about/#contact" class="scroll">Candidater</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
<!-- //support-three_grids -->
{% endblock container %}

{% block scripts %}
<!-- flexisel -->
  <script type="text/javascript" src="{% static 'site/js/jquery.flexisel.js' %}"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $("#flexiselDemo1").flexisel({
        visibleItems: 3,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,        
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: { 
          portrait: { 
            changePoint:480,
            visibleItems: 1
          }, 
          landscape: { 
            changePoint:640,
            visibleItems:2
          },
          tablet: { 
            changePoint:768,
            visibleItems: 2
          }
        }
      });
      
    });
  </script>
  
  <script>
    $().ready(function() {
	$("#card").flip({
	  trigger: 'manual'
	});
});


$(".signup_link").click(function() {

	$(".signin_form").css('opacity', '0');
	$(".signup_form").css('opacity', '100');
	
	
	$("#card").flip(true);
	
	return false;
});

$("#unflip-btn").click(function(){
  
	$(".signin_form").css('opacity', '100');
	$(".signup_form").css('opacity', '0');
	
  	$("#card").flip(false);
	
	return false;
	
});
  </script>
 
<!-- //flexisel -->
<script src="{% static 'site/js/site.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.0.18/jquery.flip.js"></script>
{% endblock scripts %}

